.about {
    padding: 4rem 0;
    overflow: hidden;  
}
.about .container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
 .about .left {
   padding: 2rem;
   text-align: center;
 }
 .about .left .card {
     box-shadow: 0px 0px 20px var(--gray-1);
     padding: 3rem;
     border-radius: 12px;
     min-height: 400px;
 }
    .about .left .card .card-image {
        width: 75px;
        height: 75px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    .about .left .card .card-description {
        margin-bottom: 2rem;
        font-size: 1rem;
        line-height: 2em;
    }
    .about .left .card .card-name {
        font-size: 2rem;
        margin-bottom: 0.2rem;
        color: cyan;
    }
    .card-subtitle {
        color: whitesmoke;
        font-size: 1.4rem;
    }
    .about .sub-heading{
        margin-bottom: 1rem;
        font-weight: 600;
    }
    .slogan {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        color: cyan;
    }
    .right-text {
        line-height: 2rem;
        font-weight: 400;
        font-size: 1.2rem;
    }
    .ptext {
        line-height: 2rem;
        font-weight: 400;
        font-size: 1.2rem;
    }
    .buttons {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        align-items: center;
    }
     .download-button {
  font-size: 2.2rem;
  background-color:var(--gray-1);
  border-radius:8px;
  padding: 0.7em 2rem;
  margin-top: 1.5rem;
  border: 2px solid var(--gray-1);
  color: black;
}


    @media only screen and (max-width: 768px) {
        .about .container {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            align-items: center;

        }
        .about .left {
            padding: 1rem;
        }
        .about .left .card {
            padding: 2rem;
        }

      .about .download-button {
        font-size: 1.7rem ;
        margin-top: 2rem;
        width: 100%;
        margin-bottom: 0;
      }
    }